body {
    background-color: #181715;
    /* max width: 100%; */
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100%;
    display: grid;

}

html, body{
    height: 100%;
}
         
h1, h2, h3{
    margin: 0;
    padding: 0;
    color: #404040;
}
     
p, ol, ul{
    margin-top: 0;
}
 
p {
    line-height: 180%;
}
 
ol, ul{
    padding: 0;
    list-style: none;
}
     
.container{   
    /* Set width of container to
        1200px and align center */
    margin: 0px auto;
    width: 1200px;
}



header{
    overflow: hidden;
}


#top-header{
         
    text-align: center;
    height: 60px;
}

asignaturas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}